#calculator {
  width: 33vw;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 33vw;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  background-color: rgb(255, 0, 191);
  padding: 10px;
}

.grid-container > button {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 15px;
}

#zero {
  grid-column: 1 / span 2;
}

#result {
  grid-column: 4 / span 2;
}

#result-box {
  height: 15vh;
  background-color: rgb(245, 178, 228);
  font-size: 30px;
  font-weight: bold;
  border: 5px solid black;
  margin-bottom: 10px;
}

#input-box {
  height: 8vh;
  background-color: rgb(245, 178, 228);
  font-size: 25px;
  font-weight: bold;
  border: 5px solid black;
}
